In [ ]:
#1. Saving (Writing) Data to a CSV File

In [ ]:
#To write CSV file, use csv.writer() function
import csv

In [ ]:
#sample data to write
data = [
    ['Name', 'Age', 'City'],
    ['John Doe', 28, 'New York'],
    ['Jane Smith', 35, 'Los Angeles'],
    ['Bob Johnson', 42, 'Chicago']
]

In [ ]:
print(data)

[['Name', 'Age', 'City'], ['John Doe', 28, 'New York'], ['Jane Smith', 35, 'Los Angeles'], ['Bob Johnson', 42, 'Chicago']]

In [ ]:
for row in data:
  print(row)

['Name', 'Age', 'City']
['John Doe', 28, 'New York']
['Jane Smith', 35, 'Los Angeles']
['Bob Johnson', 42, 'Chicago']

In [ ]:
#writing data to csv
with open('data.csv',mode='w',newline='',encoding='utf-8') as file:
    writer=csv.writer(file)
    writer.writerows(data) #writing multiple rows

In [ ]:
#When you run the code to create and write to a CSV file, the file will be saved in the current working directory of your Python script.
#If you're unsure where the current working directory is, you can check by adding this line to your code:
import os
print(os.getcwd())  # Prints the current working directory

/content

In [ ]:
#2. Reading Data from a CSV File
import csv

In [ ]:
#Reading data from csv, use csv.reader()

with open('data.csv',mode='r',encoding='utf-8') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row) #print each row

['Name', 'Age', 'City']
['John Doe', '28', 'New York']
['Jane Smith', '35', 'Los Angeles']
['Bob Johnson', '42', 'Chicago']

In [30]:
#Scraping table

from bs4 import BeautifulSoup
import requests
import csv

In [31]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [32]:
#send a get request to the webpage
data=requests.get(url).text

In [33]:
#parse the html content using BeautifulSoup
soup=BeautifulSoup(data,'html.parser')

In [34]:
#find the table in the html
table=soup.find('table')

In [35]:
#Ensure the table exist before proceeding
if table:
  # loop through the rows of the table and print the content
  for row in table.find_all('tr')[1:]: #Skip the header row
    cols=row.find_all('td') #Get the column in each row
    languages=cols[1].getText()
    salary=cols[3].getText()
    print("{}--->{}".format(languages,salary))
else:
  print("Table not found")

Python--->$114,383
Java--->$101,013
R--->$92,037
Javascript--->$110,981
Swift--->$130,801
C++--->$113,865
C#--->$88,726
PHP--->$84,727
SQL--->$84,793
Go--->$94,082

In [38]:
# Check if table exists
if table:
    # Prepare a list to store the data
    data = []
    # Add the header row (optional)
    data.append(['Language', 'Average Salary'])

    # Loop through the rows of the table and extract language names and salaries
    for row in table.find_all('tr')[1:]:  # Skip the header row
        cols = row.find_all('td')
        if len(cols) > 1:  # Make sure there are enough columns
            language = cols[1].getText()  # Extract language name from the second column
            salary = cols[3].getText()    # Extract salary from the fourth column
            data.append([language, salary])  # Add data to the list

    # Write the scraped data to a CSV file
    with open('popular-languages.csv', mode='w', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        writer.writerows(data)  # Write all rows to CSV
    print("Data has been written to popular-languages.csv")
else:
    print("Table not found")

Data has been written to popular-languages.csv

In [39]:
# Open the CSV file in read mode
with open('popular-languages.csv', mode='r', encoding='utf-8') as file:
    reader = csv.reader(file)

    # Loop through the rows of the CSV file and print each row
    for row in reader:
        print(row)

['Language', 'Average Salary']
['Python', '$114,383']
['Java', '$101,013']
['R', '$92,037']
['Javascript', '$110,981']
['Swift', '$130,801']
['C++', '$113,865']
['C#', '$88,726']
['PHP', '$84,727']
['SQL', '$84,793']
['Go', '$94,082']